<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Smart Planner </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
    </header>

    <main class="menu">
        <a href="/add-task">
            <button> Добавить задачу</button>
        </a>
        <a href="/main">
            <button> Задачи на сегодня </button>
        </a>
        <a href="/calendar">
            <button> Календарь </button>
        </a>
        <a href="/main">
            <button> Выйти из аккаунта </button>
        </a>
    </main>

    <footer>
    </footer>
    <script></script>
</body>
</html>
